@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap");

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
}
/*header-section-start*/
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav-title h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  padding-right: 25px;
}
nav ul li a {
  font-size: 18px;
  color: #424242;
}
nav a {
  text-decoration: none;
}
.brand-new-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brand-new-article {
  width: 862px;
  margin-top: 145px;
  text-align: center;
}
.brand-new-article h2 {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
}
.brand-new-article p {
  padding-top: 20px;
}
.btn-primary {
  padding: 20px 24px;
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 36px auto;
}
.banner-img {
  width: 1440px;
}
/*header-section-end*/
/*img-gallery-section-start*/
.img-gallery-section {
  display: flex;
  justify-content: center;
  padding: 50px 280px;
  align-items: center;
}
.img-gallery img {
  width: 342px;
  height: 342px;
  padding: 12px;
}
.img-gallery-section .feature {
  width: 537px;
}

.img-gallery-section .feature b,
span {
  font-weight: 500;
  font-size: 45px;
}
.img-gallery-section .feature h3 {
  font-size: 45px;
  width: 445px;
  padding-bottom: 20px;
}
.img-gallery-section .feature h3 span {
  color: #ff900e;
}
/*img-gallery-section-end*/
/*feature-list-section-start*/
.feature-list-section {
  display: flex;
  margin: 130px 240px;
}
.list-header {
  padding: 30px 35px;
}
.list-header h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  border-left: 5px solid #ff900e;
  padding-left: 30px;
}
.feature-articles .list,
.header-description {
  width: 586px;
  padding: 30px 35px;
}
.feature-articles .list {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.feature-articles .list h4 {
  font-weight: 600;
  font-size: 20px;
  color: #131313;
  padding-bottom: 15px;
}
.girl-img {
  padding-left: 100px;
  position: relative;
}
.girl-img img {
  width: 708px;
  height: 982px;
}
.girl-img button h2 {
  font-weight: 700;
  font-size: 65px;
}
.girl-img button {
  position: relative;
  top: -100px;
  left: -100px;
}
/*feature-list-section-end*/
/*fact-section-start*/
.fact-section {
  margin: 10px 240px;
}
.fact-section h2 {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  padding-bottom: 15px;
}
.fact-section > p {
  width: 542px;
  margin-bottom: 100px;
}
.all-facts {
  display: flex;
  justify-content: space-between;
}
.fact-list {
  border: 1px solid #ff900e;
  border-radius: 8px;
  width: 240px;
  height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 3s ease 0.5s, background-color 3s ease 0.5s;
}

.fact-list:hover {
  transform: rotate(360deg);
  background-color: aquamarine;
}
.fact-list img {
  width: 45px;
  height: 45px;
  margin-bottom: 20;
  padding-top: 30px;
}

/*fact-section-end*/
